html{
  scroll-snap-type: y mandatory;
  scroll-padding-top: 30px;
}
section{
  scroll-snap-align: start;
}

section:last-child{
  scroll-snap-align: none;
  scroll-snap-type: initial;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c4c4c4; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #797979; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #676666; 
}

@keyframes typing {
  0% , 9.09% { content: ""; }
  9.09% , 18.18%{ content: ","; }
  18.18% , 27.27% { content: ", "; }
  27.27% , 36.36% { content: ", S"; }
  36.36% , 45.45% { content: ", So"; }
  45.45% , 54.54% { content: ", Soy"; }
  54.54% , 63.63% { content: ", Soy "; }
  63.63% , 72.72% { content: ", Soy D"; }
  72.72% , 81.81% { content: ", Soy Da"; }
  81.81% , 90.90% { content: ", Soy Dav"; }
  90.90% , 95% { content: ", Soy Davi"; }
  95%, 100% { content: ", Soy David"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@media (prefers-color-scheme: dark) {
  .typewriter::after {
    content: "";
    border-right: 1px solid white;
    animation: blink 0.5s linear infinite;
  }
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #555; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #292929; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

.typewriter::after {
  content: "";
  border-right: 1px solid black;
  animation: blink 0.5s linear infinite;
}

footer{
  color: rgb(60, 103, 230)
}


@keyframes spin {
    to { transform: rotate(360deg); }
  }

@keyframes spinBootstrap {
  0% { transform: rotate(0deg)}
  25%{transform: rotate(15deg)}
  50%{transform: rotate(0deg)}
  75%{transform: rotate(-15deg)}
  100%{transform: rotate(0deg)}
}

@keyframes htmlJump {
  0% {translate: 0px 0px }
  50% {translate: 0px -85px }
  51% {translate: 0px 85px }
  100%{translate:0px 0px}
}

@keyframes cssMove{
  0% {translate: 0px 0px }
  50% {translate: 85px 0px }
  51% {translate: -85px 0px }
  100%{translate:0px 0px}
}

#reactA:hover {
animation: spin 3s infinite linear;
}


#bootstrapA:hover{
  animation: spinBootstrap 0.25s infinite linear;
}
.animateHtml{
  animation: htmlJump 1s infinite linear;
}
.animateCSS{
  animation: cssMove 1s infinite linear;
}